language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

before_install:
    - echo "extension=mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - echo "memory_limit=2G" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

install:
    - composer self-update
    - composer install

script:
  - phpunit --exclude-group=none

branches:
  only:
      - master
      - develop

services:
    - mongodb
    - elasticsearch
