language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache
        - vendor

env:
    global:
        - COMPOSER_LOWEST=""

matrix:
    include:
        - php: 5.3
        - php: 5.4
        - php: 5.5
        - php: 5.6
          env: COMPOSER_LOWEST=""
        - php: 5.6
          env: COMPOSER_LOWEST="--prefer-lowest"
        - php: 7
        - php: hhvm
    fast_finish: true
    allow_failures:
        - php: 7
        - php: hhvm

before_install:
    # Disable XDebug speed up test execution. (Ignore failures if platform does not had the extension installed)
    - phpenv config-rm xdebug.ini || return 0
    - echo "extension=mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - echo "memory_limit=2G" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

install:
    - composer self-update
    - composer install --ignore-platform-reqs
    - composer update symfony/framework-bundle $COMPOSER_LOWEST --ignore-platform-reqs
    - composer info -i

script:
  - phpunit --exclude-group=none

branches:
  only:
      - master
      - develop

services:
    - mongodb
    - elasticsearch
