language: php

cache:
    directories:
        - $HOME/.composer/cache
        - vendor

php:
  - 7.3
  - 7.4
  - 8.0

before_install:
    # Disable XDebug speed up test execution. (Ignore failures if platform does not had the extension installed)
    - phpenv config-rm xdebug.ini || return 0
    - echo "memory_limit=2G" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini || return 0

install:
  - make dependencies

script:
  - make test
  - make qa
  - make license
  - make changelog
