parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_callable\(\) with callable\(\)\: mixed will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Broadway/EventSourcing/Testing/Scenario.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: src/Broadway/EventStore/Management/Testing/EventStoreManagementTest.php
