<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="true"
        testdox="true"

>
  <testsuites>
    <testsuite name="Broadway Test Suite">
      <directory>./test/</directory>
      <directory>./examples/</directory>
      <exclude>./test/Broadway/EventSourcing/AbstractEventSourcingRepositoryTest.php</exclude>
      <exclude>./test/Broadway/EventStore/ConcurrencyConflictResolver/ConcurrencyConflictResolverTest.php</exclude>
      <exclude>./test/Broadway/EventStore/InMemoryEventStoreTest.php</exclude>
      <exclude>./test/Broadway/EventStore/Management/InMemoryEventStoreManagementTest.php</exclude>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>functional</group>
    </exclude>
  </groups>
</phpunit>
