<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
  <testsuites>
    <testsuite name="broadway">
      <directory>./test/</directory>
    </testsuite>
    <testsuite name="example">
      <directory>./examples/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
  <groups>
    <exclude>
      <group>functional</group>
    </exclude>
  </groups>
</phpunit>
